@media (min-width: $tablet-width_l) {

	.container {
		width: $container-width--desktop;
	}


	//BLOGPOSTS

	.blogposts {
		&__categories {
			&-select {
				width: 50%;
			}
		}

		&__list {

			&-item {
				flex-basis: $post-width--desktop;
				margin: 0 15px 30px 15px;

				&--featured {
					flex-basis: 100%;
					padding-left: $post-width--desktop;

					h2 {
						font-size: 2em;
					}
				}
			}
		}
	}

	// ONE POST
	.onepost {
		&__container {
			display: flex;
			flex-flow: row nowrap;

			justify-content: space-between;
		}

		&__text {
			flex-basis: $text-width--desktop;
		}

		&__cattag {
			flex-basis: $sidebar-width--desktop;
			padding-left: 20px;
		}

		&__categories-select {
			width: 100%;
		}

		&__highlight {
			font-size: 1.3em;
			margin: 45px 60px;
		}
	}

}