.dashboard {
	&__filters {}

	&__catview {
		display: flex;
		flex-wrap: nowrap;

		overflow-x: scroll;
	}

	&__list {
		@include reset-list;
		min-width: 220px;
		margin-right: 30px;
		outline: 1px solid chartreuse;
	}
}